@model ESTGest.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Conta Bancária</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ba_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ba_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bar_cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bar_cash)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ba_id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
