@model ESTGest.Models.ChargeAccountReference

@{
    ViewBag.Title = "AskForNewReference";
}

<h2>Nova Referencia</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pedido de Nova Referência</h4>
        <hr />
        @Html.ValidationSummary(true)       
        <div class="form-group">
            @Html.LabelFor(model => model.car_amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.car_amount)
                @Html.ValidationMessageFor(model => model.car_amount)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar Pedido" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
