@model ESTGest.Models.Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Compra</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_total) €
        </dd>

    </dl>
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                @Html.Action("ProductList", "Purchases")
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>

</div>
@*<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.p_id })
    }
    
</p>*@
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Voltar", "IndexAdmin")
}
else
{
    @Html.ActionLink("Voltar", "Index")
}
