@model IEnumerable<ESTGest.Models.Product>

@{
    ViewBag.Title = "ProductList";
}

<h2>Lista de Produtos</h2>

<p>
    @Html.ActionLink("Adicionar", "ProductCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pr_designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pr_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pr_designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pr_price)
        </td>
        <td>
            @Html.ActionLink("Editar", "ProductEdit", new { id=item.pr_id }) |
            @Html.ActionLink("Detalhes", "ProductDetails", new { id=item.pr_id }) |
            @Html.ActionLink("Apagar", "ProductDelete", new { id=item.pr_id })
        </td>
    </tr>
}

</table>
