@model ESTGest.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pr_designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pr_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.pr_id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
